.App {
  text-align: center;
}

span.close {
  float: right;
  font-size: 2rem;
}

.myModal {
  min-width: 30%;
  margin: 3rem;
  padding: 1rem;
  border: 0.1rem solid;
}

h2 {
  text-align: center;
}

.cars button {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.cars label {
  display: inline-block;
  padding: 1rem;
}

.services label {
  display: block;
  padding: 0.5rem;
}

.green{
  color: rgb(1, 248, 1);
}

.red{
  color:red;
}

.price{
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.contact div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin:2rem;
}

.contact input, textarea{
  flex: 0 1 calc(50% - 4em);
}

.section{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.section div{
  flex: 0 1 calc(50% - 0em);
}

.spans{
  display: flex;
  flex-wrap: wrap;
}

.spans div{
  flex: 0 1 calc(50% - 0em);
}

.span-service span{
  display: flex;
}

.span-price span{
  display: flex;
  justify-content: flex-end;
}

.selected-services p{
  text-align: end;
}

.info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin:2rem;
}

.info p{
  flex: 0 1 calc(50% - 4em);
}

.finish{
  text-align: center;
}